# Arquivos e modulos para processamento
arquivos/

# Bibliotecas e sistema integrado do Moodle I/O
lib/

# Arquivos temporarios
temp/

# Gerenciadores Moodle I/O
download.php
upload.php

# Ignorar todos os arquivos conf do Moodle I/O
moodle.conf

# Ignorar executaveis especificos das operacoes
*jflap*.jar
